<section>
    <div class="card-center d-flex-all column">
        <div class="auth-container">
            <div class="brand-container">
                <div class="brand-wrapper center">
                    <img src="assets/images/logo.png" alt="" height="80px">
                </div>
            </div>
            <div class="auth-form">
                <div class="auth-heading center">
                    Login to Your Acount
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()">
                    <div class="auth-form-wrapper">
                       
                        <div class="form-group">
                            <label for="email">Email*</label>
                            <mat-form-field  appearance="outline">
                                <input type="email" formControlName="email" matInput placeholder="Email">
                                <mat-error *ngIf="loginForm.controls['email']?.hasError('required')">
                                   Email Address is Required
                                </mat-error>
                                <mat-error   *ngIf="loginForm.controls['email']?.hasError('validateEmail') && !loginForm.controls['email']?.hasError('required')">
                                    Email Address is Not Valid
                                 </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <label for="password">Password*</label>
                            <mat-form-field  appearance="outline">
                                <input [type]="hide? 'password':'text'" formControlName="password" matInput  placeholder="******">
                                <mat-icon matSuffix class="eye" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error *ngIf="loginForm.controls['password']?.hasError('required')">
                                  Password is Required
                                </mat-error>
                                <mat-error *ngIf="loginForm.controls['password']?.hasError('minlength') && !loginForm.controls['password']?.hasError('required')">
                                    It must be 4 digit !
                                 </mat-error>
                                 <mat-error *ngIf="loginForm.controls['password']?.hasError('maxlength') && !loginForm.controls['password']?.hasError('minlength') && !loginForm.controls['password']?.hasError('required')">
                                    It must not be more than 10 digit 
                                 </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="right mb-5">
                            <a routerLink="/auth/otp-verify" class="fs-14 blue">Forgot-Password</a>
                        </div>
                        
                        <div class="center">
                            <button mat-button class="auth-submit-btn" type="submit">Login</button>
                        </div>

                        <div class="center mt-4">
                            <a routerLink="/auth/sign-up" class="fs-14 black">Don't have an account? <span class="green fw-500">Signup</span> </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>