// Font Size

$icon-font:'icomoon';
$mulish: 'Mulish';
$thin:100;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extra_bold: 900;
$heading1: 55px;
$heading2: 35px;
$heading3: 20px;
$heading4: 16px;
$heading5: 17px;
$heading6: 20px;
$paragraph-size: 16px;
$paragraph-size-lg: 17px;
$circle-size: 6px;
$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 22px;
$font-size-xxl: 28px;
$xx-large: 30px;

// Colors
$green: #0BD084;
$blue:  #006DF9;
$white: #ffffff;
$black: #000000;
$slaty: #79818D;
$red:   #FF0000;


