<section>
    <div class="search">
        <input type="text" placeholder="Search" maxlength="50" minlength="1">
    </div>
</section>
<section>
    <div class="all-users">
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Chats">
                <div class="all-users-container">
                    <div class="user-wrapper d-flex-v">
                        <div class="user-active-dp mr-3">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp" class="userDP"
                                alt="User-Dp">
                            <span class="notification-badge">10</span>
                        </div>
                        <div>
                            <p class="fs-16 fw-500 m-0">Pankaj K</p>
                            <span class="slaty fs-14 fw-400">I am using Green App</span>
                        </div>
                        <div class="d-flex-v column ml-auto slaty last-seen">
                            <span class="fs-12">05/10/22</span>
                            <mat-icon>visibility</mat-icon>
                        </div>
                    </div>
                    <div class="user-wrapper d-flex-v">
                        <div class="user-active-dp mr-3">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOfsnrU9Ze8a5ZJUvueGOWORBWcitwAV2dEfpYexSkrqQu7n07VcBfO2ziw5BK7yFi6uM&usqp=CAU"
                                class="userDP" alt="User-Dp">
                            <span class="notification-badge">99+</span>
                        </div>
                        <div>
                            <p class="fs-16 fw-500 m-0">Bhabhi Ji</p>
                            <div class="d-flex-v"><img [src]="'assets/icons/'+ msgStatus" height="15px" width="15px"
                                    class="mr-1"><span class="slaty fs-14 fw-400">Raat Me 12 k baad aunga !</span>
                            </div>
                        </div>
                        <div class="d-flex-v column ml-auto slaty last-seen">
                            <span class="fs-12 green">Online</span>
                            <mat-icon>visibility</mat-icon>
                        </div>
                    </div>
                    <div class="user-wrapper d-flex-v">
                        <div class="user-active-dp mr-3">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDW1MoAa_-36Yl9-Hpj_VfzAE061kRzvoCn-4qeGac27tzmeRRFCwoYjlbjR3rOqjcvp0&usqp=CAU"
                                class="userDP" alt="User-Dp">
                            <span *ngIf="false" class="notification-badge">10</span>
                        </div>
                        <div>
                            <p class="fs-16 fw-500 m-0">Miss Royely</p>
                            <span class="slaty fs-14 fw-400">I am a Bot of Virtual Worlds.</span>
                        </div>
                        <div class="d-flex-v column ml-auto slaty last-seen">
                            <span class="fs-12">Yesterday</span>
                            <mat-icon>visibility</mat-icon>
                        </div>
                    </div>

                    <div class="user-wrapper d-flex-v">
                        <div class="user-active-dp mr-3">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp" class="userDP"
                                alt="User-Dp">
                            <span class="notification-badge">10</span>
                        </div>
                        <div>
                            <p class="fs-16 fw-500 m-0">Pankaj K</p>
                            <span class="slaty fs-14 fw-400">I am using Green App</span>
                        </div>
                        <div class="d-flex-v column ml-auto slaty last-seen">
                            <span class="fs-12">05/10/22</span>
                            <mat-icon>visibility</mat-icon>
                        </div>
                    </div>
                    <div class="user-wrapper d-flex-v">
                        <div class="user-active-dp mr-3">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOfsnrU9Ze8a5ZJUvueGOWORBWcitwAV2dEfpYexSkrqQu7n07VcBfO2ziw5BK7yFi6uM&usqp=CAU"
                                class="userDP" alt="User-Dp">
                            <span class="notification-badge">99+</span>
                        </div>
                        <div>
                            <p class="fs-16 fw-500 m-0">Bhabhi Ji</p>
                            <div class="d-flex-v"><img [src]="'assets/icons/'+ msgStatus" height="15px" width="15px"
                                    class="mr-1"><span class="slaty fs-14 fw-400">Raat Me 12 k baad aunga !</span>
                            </div>
                        </div>
                        <div class="d-flex-v column ml-auto slaty last-seen">
                            <span class="fs-12 green">Online</span>
                            <mat-icon>visibility</mat-icon>
                        </div>
                    </div>
                    <div class="user-wrapper d-flex-v">
                        <div class="user-active-dp mr-3">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDW1MoAa_-36Yl9-Hpj_VfzAE061kRzvoCn-4qeGac27tzmeRRFCwoYjlbjR3rOqjcvp0&usqp=CAU"
                                class="userDP" alt="User-Dp">
                            <span *ngIf="false" class="notification-badge">10</span>
                        </div>
                        <div>
                            <p class="fs-16 fw-500 m-0">Miss Royely</p>
                            <span class="slaty fs-14 fw-400">I am a Bot of Virtual Worlds.</span>
                        </div>
                        <div class="d-flex-v column ml-auto slaty last-seen">
                            <span class="fs-12">Yesterday</span>
                            <mat-icon>visibility</mat-icon>
                        </div>
                    </div>

                    <div class="user-wrapper d-flex-v">
                        <div class="user-active-dp mr-3">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp" class="userDP"
                                alt="User-Dp">
                            <span class="notification-badge">10</span>
                        </div>
                        <div>
                            <p class="fs-16 fw-500 m-0">Pankaj K</p>
                            <span class="slaty fs-14 fw-400">I am using Green App</span>
                        </div>
                        <div class="d-flex-v column ml-auto slaty last-seen">
                            <span class="fs-12">05/10/22</span>
                            <mat-icon>visibility</mat-icon>
                        </div>
                    </div>
                    <div class="user-wrapper d-flex-v">
                        <div class="user-active-dp mr-3">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOfsnrU9Ze8a5ZJUvueGOWORBWcitwAV2dEfpYexSkrqQu7n07VcBfO2ziw5BK7yFi6uM&usqp=CAU"
                                class="userDP" alt="User-Dp">
                            <span class="notification-badge">99+</span>
                        </div>
                        <div>
                            <p class="fs-16 fw-500 m-0">Bhabhi Ji</p>
                            <div class="d-flex-v"><img [src]="'assets/icons/'+ msgStatus" height="15px" width="15px"
                                    class="mr-1"><span class="slaty fs-14 fw-400">Raat Me 12 k baad aunga !</span>
                            </div>
                        </div>
                        <div class="d-flex-v column ml-auto slaty last-seen">
                            <span class="fs-12 green">Online</span>
                            <mat-icon>visibility</mat-icon>
                        </div>
                    </div>
                    <div class="user-wrapper d-flex-v">
                        <div class="user-active-dp mr-3">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDW1MoAa_-36Yl9-Hpj_VfzAE061kRzvoCn-4qeGac27tzmeRRFCwoYjlbjR3rOqjcvp0&usqp=CAU"
                                class="userDP" alt="User-Dp">
                            <span *ngIf="false" class="notification-badge">10</span>
                        </div>
                        <div>
                            <p class="fs-16 fw-500 m-0">Miss Royely</p>
                            <span class="slaty fs-14 fw-400">I am a Bot of Virtual Worlds.</span>
                        </div>
                        <div class="d-flex-v column ml-auto slaty last-seen">
                            <span class="fs-12">Yesterday</span>
                            <mat-icon>visibility</mat-icon>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Status">
                <div class="all-users-container">
                    <div class="d-flex-all h-100">
                        <img src="assets/images/Default/you-dont-have-msg.svg" width="260px" height="auto" alt="">
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Groups">
                <div class="all-users-container center">
                    Groups will Showed Here ...
                </div>
            </mat-tab>
            <mat-tab label="Friends">
                <div class="all-users-container center">
                    Friends will Showed Here ...
                </div>
            </mat-tab>
        </mat-tab-group>
        <div class="bottom-menu-container">
            <div class="bottom-menu d-flex-all" routerLink="/Users/all-users">
                <mat-icon>groups</mat-icon>
            </div>
            <div class="bottom-menu d-flex-all">
                <mat-icon>mood</mat-icon>
            </div>
            <div class="bottom-menu d-flex-all">
                <mat-icon>sentiment_very_dissatisfied</mat-icon>
            </div>
            <div class="bottom-menu d-flex-all">
                <mat-icon>add</mat-icon>
            </div>
        </div>
    </div>
</section>